body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Asegúrate de que el body ocupe toda la altura */
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.container {
    display: flex;
    flex: 1;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho */
}

.main-content {
    flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es más grande que la pantalla */
}