.form-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.content {
    margin-left: 1%;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    width: 48%; /* Cada columna ocupa casi la mitad */
    gap: 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-group input {
    margin-right: 5px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
    padding: 0 20px;
}

.btn-cancel, 
.btn-submit {
    width: 235px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cancel {
    background-color: transparent;
    color: #040247;
    border: 1.5px solid #040247;
    
}

.btn-cancel:hover {
    background-color: rgba(4, 2, 71, 0.05);
}

.btn-submit {
    background-color: #040247;
    color: white;
    border: none;
}

.btn-submit:hover {
    background-color: #070370;
}
