.filter-button {
    background-color:aqua;
    border: none; 
    border-radius: 4px; 
    width: 56px; /* Mismo alto que la barra de búsqueda */
    display: flex; /* Flexbox para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
    position: absolute; /* Posicionamiento absoluto */
    right: 130px; /* Ajusta según la posición del botón reset */
}

.filter-button:hover {
    background-color: rgb(255, 0, 0); /* Efecto hover sutil */
}

.filter-icon {
    width: 24px; /* Ajusta el tamaño del ícono */
    height: 24px; /* Ajusta el tamaño del ícono */
    object-fit: contain; /* Mantiene la proporción del ícono */
    fill: rgb(255, 255, 255); /* Asegúrate de que el ícono sea blanco */
}